# Stereolabs plugins
Stereolabs/Binaries/*
Stereolabs/Intermediate/*

# Runtime mesh plugin
RuntimeMeshComponent/Binaries/*
RuntimeMeshComponent/Intermediate/*


#local folders
*.vs
*.db
*.vc.db
*.vc.vc.opendb
*.sln
Binaries/*
Build/*
Debug/*
DerivedDataCache/*
Intermediate/*
Saved/*