# Stereolabs plugins - ignored in plugins

# Runtime mesh plugin
RuntimeMeshComponent/Binaries/*
RuntimeMeshComponent/Intermediate/*

# Local tests
Content/LocalTest/*
Content/LocalTests/*

#local folders
*.vs
*.db
*.vc.db
*.vc.vc.opendb
*.sln
Binaries/*
Build/*
Debug/*
DerivedDataCache/*
Intermediate/*
Saved/*